.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(176, 255, 231);
    border-radius: 50px;
    padding: 50px;
}