.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > input {
        padding: 5px;
        text-align: center;
        background-color: rgb(255, 248, 155);
        border: none;
        border-bottom: 1px grey solid;
        border-radius: 5px;
        box-sizing: border-box;
        &:focus {
            outline: none;
        }
    }
    span {
        padding: 5px;
    }
}